<launch>
    <param name="leg_positions/lf" value="[-0.05, 0]"/>
    <param name="leg_positions/lb" value="[-0.05, 0.2]"/>
    <param name="leg_positions/rf" value="[0.15, 0]"/>
    <param name="leg_positions/rb" value="[0.15, 0.2]"/>
    <node pkg="landing_optimizer" type="PythonLandingROS.py" name = "point_cloud_optimizer" output="screen"></node>
    <node pkg="landing_optimizer" type="LegMessage.py" name = "leg_position_publisher" output="screen"></node>
</launch>